@model IEnumerable<AnyStats___5204_PassionProject_n01442097.Models.StatDto>

@{
    ViewBag.Title = "List";
}


<h1>All Statistics</h1>
<span class="btn btn-default submit">
    @Html.ActionLink("Create New", "Create")
</span>
<ul class="stat-list">
    @foreach (var item in Model)
    {
        <li>
            <a href="/Stats/Details/@item.StatId">@Html.DisplayFor(modelItem => item.StatName)</a>
        </li>
    }
</ul>
<div class="paginate">
    <div class="pagination">
        @{
            if (Convert.ToInt32(ViewData["totalCount"]) > Convert.ToInt32(ViewData["PerPage"]))
            {
                int PrevPage = Convert.ToInt32(ViewData["PageNum"]) - 1;
                int NextPage = Convert.ToInt32(ViewData["PageNum"]) + 1;
                @Html.ActionLink("Prev", "List", new { PageNum = PrevPage })
                @ViewData["PageSummary"]
                @Html.ActionLink("Next", "List", new { PageNum = NextPage })
            }

        }
    </div>
</div>